/* The sidebar menu */
.sidebarbutton{
  background-color: #0A2540;
  border-radius: 15px;
  outline: 2px solid black;
  margin: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.sidebarbutton:hover{
  background-color: #ffbd99;
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    background-color: #2D2E82;
    color: #ffffff;
    
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar a {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2D2E82;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 15px;
    outline: 2px solid black;
  }
  
  .openbtn:hover {
    background-color: #ffbd99;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
  .ticket-feed {margin:15px;}


  .ticket-form {margin-top:15px; margin-bottom:15px;border-radius:12px; background-color:#e86312; overflow: auto;}
  .ticket-form img { margin:5px; width:118px; height:118px; float: left; }
  .ticket-form h2 {text-align:center; font-size:22px; color:white;font-family:'Inter', sans-serif; margin:10px;}
  #dropdownbutton{float:right; width:50px; height:50px; margin-right:30px; margin-bottom: 30px;}
  

